In [1]:
! pip install scikit-surprise -i http://pypi.douban.com/simple --trusted-host pypi.douban.com

Looking in indexes: http://pypi.douban.com/simple
Collecting scikit-surprise
  Downloading http://pypi.doubanio.com/packages/4d/fc/cd4210b247d1dca421c25994740cbbf03c5e980e31881f10eaddf45fdab0/scikit-surprise-1.0.6.tar.gz (3.3MB)
    100% |████████████████████████████████| 3.3MB 14.9MB/s ta 0:00:01
Collecting joblib>=0.11 (from scikit-surprise)
  Downloading http://pypi.doubanio.com/packages/cd/c1/50a758e8247561e58cb87305b1e90b171b8c767b15b12a1734001f41d356/joblib-0.13.2-py2.py3-none-any.whl (278kB)
    100% |████████████████████████████████| 286kB 803kB/s ta 0:00:01
Requirement already satisfied: numpy>=1.11.2 in /Users/maoyuyang/anaconda3/lib/python3.7/site-packages (from scikit-surprise) (1.15.4)
Requirement already satisfied: scipy>=1.0.0 in /Users/maoyuyang/anaconda3/lib/python3.7/site-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: six>=1.10.0 in /Users/maoyuyang/anaconda3/lib/python3.7/site-packages (from scikit-surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Running setup.py bdist_wheel for scikit-surprise ... done
  Stored in directory: /Users/maoyuyang/Library/Caches/pip/wheels/64/a3/ed/ba5b38cbc4e3b3c9525005a483f7c2169aa8d37ce405cae02d
Successfully built scikit-surprise
Installing collected packages: joblib, scikit-surprise
Successfully installed joblib-0.13.2 scikit-surprise-1.0.6

In [16]:
import pandas as pd
from surprise import Reader, Dataset

ratings_csv = pd.read_csv('./data/ratings.csv')

ratings_csv = ratings_csv.drop(['timestamp'], axis=1)

ratings_csv

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
5            1       70     3.0
6            1      101     5.0
7            1      110     4.0
8            1      151     5.0
9            1      157     5.0
10           1      163     5.0
11           1      216     5.0
12           1      223     3.0
13           1      231     5.0
14           1      235     4.0
15           1      260     5.0
16           1      296     3.0
17           1      316     3.0
18           1      333     5.0
19           1      349     4.0
20           1      356     4.0
21           1      362     5.0
22           1      367     4.0
23           1      423     3.0
24           1      441     4.0
25           1      457     5.0
26           1      480     4.0
27           1      500     3.0
28           1      527     5.0
29           1      543     4.0
...        ...      ...     ...
100806     610   150401     3.0
100807     610   152077     4.0
100808     610   152081     4.0
100809     610   152372     3.5
100810     610   155064     3.5
100811     610   156371     5.0
100812     610   156726     4.5
100813     610   157296     4.0
100814     610   158238     5.0
100815     610   158721     3.5
100816     610   158872     3.5
100817     610   158956     3.0
100818     610   159093     3.0
100819     610   160080     3.0
100820     610   160341     2.5
100821     610   160527     4.5
100822     610   160571     3.0
100823     610   160836     3.0
100824     610   161582     4.0
100825     610   161634     4.0
100826     610   162350     3.5
100827     610   163937     3.5
100828     610   163981     3.5
100829     610   164179     5.0
100830     610   166528     4.0
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [12]:
reader = Reader(rating_scale=(0.5, 5.0))

data = Dataset.load_from_df(ratings_csv[['userId', 'movieId', 'rating']], reader)

In [17]:
ratings_csv.describe()

              userId        movieId         rating
count  100836.000000  100836.000000  100836.000000
mean      326.127564   19435.295718       3.501557
std       182.618491   35530.987199       1.042529
min         1.000000       1.000000       0.500000
25%       177.000000    1199.000000       3.000000
50%       325.000000    2991.000000       3.500000
75%       477.000000    8122.000000       4.000000
max       610.000000  193609.000000       5.000000

In [14]:
from surprise import SVD
from surprise.model_selection import cross_validate

algo = SVD()

# 交叉验证，得出SVD模型的RMSE
cross_validate(algo, data, measures=['RMSE'], cv=5, verbose=True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8728  0.8791  0.8769  0.8778  0.8652  0.8744  0.0051
Fit time          8.83    8.31    8.49    8.70    8.52    8.57    0.18
Test time         0.26    0.27    0.23    0.25    0.26    0.25    0.01

{'test_rmse': array([0.87276586, 0.87910916, 0.87693223, 0.87778487, 0.86515835]),
 'fit_time': (8.829239130020142,
  8.308080196380615,
  8.489455938339233,
  8.700991868972778,
  8.522536993026733),
 'test_time': (0.2555389404296875,
  0.2653062343597412,
  0.2345900535583496,
  0.2519369125366211,
  0.2552809715270996)}