In [15]:
import pandas as pd
from surprise import SVD

from CF.CFModel import CFModel
from CF.CFData import CFData
from CF.CFMovieSystem import CFMovieSystem


df_movie = pd.read_csv('./data/movies.csv')
df_rating = pd.read_csv('./data/ratings.csv')

In [16]:
df_rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [17]:
df_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [18]:
df_data = df_rating[['userId', 'movieId', 'rating']]
df_id_name_table = df_movie[['movieId', 'title']]

data_movie = CFData(df_data, df_id_name_table=df_id_name_table)
model_svd = CFModel(SVD)

model_svd.fit(data_movie.trainset)

cf_movie_system = CFMovieSystem(model_svd, data_movie)

In [19]:
movie_name = 'Forrest Gump (1994)'

print(cf_movie_system.get_recommended_movies(movie_name))

AttributeError: 'CFModel' object has no attribute 'get_similar_item'