In [3]:
import pandas as pd
from surprise import SVD, KNNBaseline

from CF.CFModel import CFModel
from CF.CFData import CFData
from CF.CFMovieSystem import CFMovieSystem


_df_movie = pd.read_csv('./data/movies.csv')
_df_rating = pd.read_csv('./data/ratings.csv')

_df_data = _df_rating[['userId', 'movieId', 'rating']]
_df_id_name_table = _df_movie[['movieId', 'title']]

_data_movie = CFData(_df_data, df_id_name_table=_df_id_name_table)
_model_svd = CFModel(SVD)
# model_knnbl = CFModel(KNNBaseline)

_model_svd.fit(_data_movie.trainset)
# model_knnbl.fit(data_movie.trainset)

_model_svd.test(_data_movie.testset)
# model_knnbl.test(data_movie.testset)

_cf_svd_system = CFMovieSystem(_model_svd, _data_movie)
# cf_knn_system = CFMovieSystem(model_knnbl, data_movie)

_movie_name = 'Forrest Gump (1994)'

RMSE: 0.8721

In [4]:
_movie_data = _df_data.merge(_df_id_name_table, on='movieId')

_movie_data.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [26]:
movie_count = pd.DataFrame(_movie_data.groupby(['movieId', 'title'])['rating'].mean())

movie_count['count'] = pd.DataFrame(_movie_data.groupby('movieId')['rating'].count())

movie_count.head()

           rating  count
movieId
1        3.920930    215
2        3.431818    110
3        3.259615     52
4        2.357143      7
5        3.071429     49